<div class="jumbotron">
     <h1 class="title"></h1>
     <p class="slogan">通向财富自由之路
     <br>
     海阔任鱼跃
     <br>
     天高任鸟飞
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/products">马上出发</a></p>
   </div>
